#jboss.bind.address=adzh-srlp-qa16.intern.cube.ch
#jboss.bind.address.management=adzh-srlp-qa16.intern.cube.ch
#jboss.bind.address.unsecure=adzh-srlp-qa16.intern.cube.ch
jboss.management.native.port=42799
jboss.management.http.port=42701
jboss.management.https.port=42763
jboss.messaging.ServerPeerID=1
jboss.messaging.group.port=42776
jboss.messaging.group.address=231.7.7.7
jboss.default.multicast.address:230.0.0.4
user.timezone=Europe/Zurich
user.language=de
user.region=CH
db_type=oracle
#syrius.ldap.config=file:///opt/jboss/syrius/config/activeDirectory.conf
syrius.jta.TransactionManagerName=java:/TransactionManager
syrius.cache.jgroups.config=file:///opt/jboss/syrius/config/jee_jgroups_conf.xml
syrius.eventmanager.Mode=JMS
syrius.eventmanager.jms.ConnectionFactory=java:/JmsXA
syrius.jndi.lookup.mode=PORTABLE
syrius.WebserviceEndpointConfig=file:///opt/jboss/syrius/config/jee_EndpointConfig.xml
syrius.clock_tolerance_millis=10000000
syrius.startup_clock_tolerance_millis=10000000
