java.net.preferIPv4Stack=true
user.timezone=Europe/Zurich
user.language=de
user.region=CH

jboss.bind.address=localhost
jboss.bind.address.management=localhost
jboss.bind.address.unsecure=localhost

jboss.socket.binding.port-offset=0
jboss.ajp.port=14409
jboss.http.port=14405
jboss.https.port=14443
jboss.iiop.port=14428
jboss.iiop.ssl.port=14429
#jboss.management.native.port=14499
jboss.management.http.port=14400
jboss.management.https.port=14463
jboss.remoting.port=14447
jboss.txn.recovery.environment.port=14412
jboss.txn.status.manager.port=14413

#jboss.messaging.ServerPeerID=1
#jboss.messaging.group.port=14476
#jboss.messaging.group.address=231.7.7.7

jboss.default.multicast.address:230.0.0.4

#org.jboss.as.logging.per-deployment=false

FL_MCAST_PORT=14430
FL_MCAST_ADDR=224.0.0.0

SYRMAN_LOG=/home/meberlein/jboss/logs
db_type=oracle
log4j.configuration=opt/jboss/syrius/config/jee_log4j.xml
syrius.cache.jgroups.config=file:///opt/jboss/syrius/config/jee_jgroups_conf.xml
syrius.default_userid=SyriusAdmin
syrius.eventmanager.Mode=JMS
syrius.eventmanager.jms.ConnectionFactory=java:/JmsXA
syrius.ignore_broken_meta=true
syrius.jndi.lookup.mode=PORTABLE
syrius.jta.TransactionManagerName=java:/TransactionManager
syrius.ldap.config=file:///opt/jboss/syrius/config/activeDirectory.conf
syrius.log4j.configuration.reconfigure=true
syrius.log4j.configuration.watch_interval=5000
syrius.profiling=true
syrius.WebserviceEndpointConfig=file:///opt/jboss/syrius/config/jee_EndpointConfig.xml
logstreamer.jgroups_config=file:///opt/jboss/syrius/config/logstreamer_jgroups_conf.xml
logstreamer.jgroups_name=MEB_JBOSS
logstreamer.name=MEB_JBOSS_test
logstreamer.profiles=opt/jboss/syrius/config/LogStreamerProfiles.xml
